body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.box {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 6px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 5px;
}
